#===============================================================================
# @brief    Kconfig file for ST7796 + FT6336 LCD Touch
#===============================================================================

config SPI_DI_PIN
    int
    prompt "SPI DI (MISO) PIN."
    depends on ENABLE_LCD_TOUCH
    default 11

config SPI_DO_PIN
    int
    prompt "SPI DO (MOSI) PIN."
    depends on ENABLE_LCD_TOUCH
    default 9

config SPI_CLK_PIN
    int
    prompt "SPI CLK PIN."
    depends on ENABLE_LCD_TOUCH
    default 7

config SPI_CS_PIN
    int
    prompt "SPI CS PIN."
    depends on ENABLE_LCD_TOUCH
    default 8

config SPI_MASTER_PIN_MODE
    int
    prompt "SPI MASTER PIN MODE."
    depends on ENABLE_LCD_TOUCH
    default 3

config SPI_RS_PIN
    int
    prompt "SPI DC/RS PIN."
    depends on ENABLE_LCD_TOUCH
    default 1

config SPI_RST_PIN
    int
    prompt "SPI RST PIN."
    depends on ENABLE_LCD_TOUCH
    default 14

config SPI_BLK_PIN
    int
    prompt "SPI Backlight PIN."
    depends on ENABLE_LCD_TOUCH
    default 12

config GPIO_PIN_MODE
    int
    prompt "GPIO PIN MODE."
    depends on ENABLE_LCD_TOUCH
    default 0

config TOUCH_SDA_PIN
    int
    prompt "Touch I2C SDA PIN."
    depends on ENABLE_LCD_TOUCH
    default 15

config TOUCH_SCL_PIN
    int
    prompt "Touch I2C SCL PIN."
    depends on ENABLE_LCD_TOUCH
    default 16

config TOUCH_RST_PIN
    int
    prompt "Touch RST PIN."
    depends on ENABLE_LCD_TOUCH
    default 13

config TOUCH_INT_PIN
    int
    prompt "Touch INT PIN."
    depends on ENABLE_LCD_TOUCH
    default 2
